@use "../../../base.scss";

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  position: relative;

  margin-top: 24px;

  border-radius: 8px;
  border: 1px solid base.$gray-200;
  background: base.$white;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);

  .is-loading {
    position: absolute;
    top: calc(50% + 44px - 53px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300; //ustawia wrapper nad rozmytym tłem
    width: 100%;
    height: calc(100% - 44px - 53px);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .spin div {
      position: absolute;
      animation: spin 1s linear infinite;
      width: 80px;
      height: 80px;
      top: 10px;
      left: 10px;
      border-radius: 50%;
      box-shadow: 0 2px 0 0 base.$primary-600;
      transform-origin: 40px 41px;
    }
    .loading-spinner {
      width: 100px;
      height: 100px;
      display: inline-block;
      overflow: hidden;
    }
    .spin {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .spin div {
      box-sizing: content-box;
    }
  }

  table {
    width: 100%;
    background: base.$white;
    border-spacing: 0px;

    .BBC {
      height: 450px;
      width: 100%;

      td {
        text-align: center;
      }
    }

    p {
      color: base.$gray-900;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      margin-top: 0px;
    }

    tr {
      border-bottom: 1px solid base.$gray-200;
      height: 44px;
      padding: 12px 24px;
      gap: 12px;

      td {
        text-align: start;
        height: 44px;
        padding: 12px 24px;
        color: base.$gray-500;
        border-bottom: 1px solid base.$gray-200;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        min-width: 80px;
        white-space: nowrap;

        &:first-child {
          //lub :nth-child(1)
          width: 58%;
        }

        .pill {
          width: fit-content;
          display: flex;
          align-items: flex-start;
          mix-blend-mode: multiply;

          display: flex;
          padding: 2px 8px 2px 6px;
          justify-content: center;
          align-items: center;
          gap: 6px;
          border-radius: 16px;
          background: base.$gray-200;
          color: base.$gray-700;

          text-align: center;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;

          &.fresh {
            color: base.$success-700;
            background: base.$success-50;
          }
          &.widhered {
            color: base.$error-700;
            background: base.$error-50;
          }
        }

        .icon-container {
          display: flex;
          height: 72px;
          align-items: center;
          justify-content: center;
          gap: 4px;

          .icon {
            display: flex;
            padding: 10px;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }

    .header-row {
      border-bottom: 1px solid base.$gray-200;
      background-color: base.$gray-50;
      color: base.$gray-500;

      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;

      th {
        text-align: start;
        height: 44px;
        padding: 12px 24px;
        background-color: base.$gray-50;
        border-bottom: 1px solid base.$gray-200;
        &:first-child {
          //lub :nth-child(1)
          width: 58%;
        }
      }
    }
  }
  .footer {
    display: flex;
    padding: 12px 24px 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-top: 1px solid base.$gray-200;

    .page-number {
      color: base.$gray-700;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
    .page-changer {
      display: flex;
      gap: 12px;

      .arrow {
        width: 24px;
        height: 24px;
        cursor: pointer;

        &.disabled {
          cursor: none;
          pointer-events: none;
          color: base.$gray-300;
        }
      }
    }
  }
}
