@use "../../../base.scss";

.top-bar {
  background-color: base.$white;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .top-bar-left-side {
    display: flex;
    flex-direction: column;

    .top-bar-left-side-upper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      span {
        color: base.$gray-900;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
      }
    }

    .top-bar-left-side-lower {
      span {
        color: base.$gray-500;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  .top-bar-right-side {
    .logout-button {
      font-weight: 300;
      color: base.$white;
      padding: 10px 18px;
      min-width: 40;
      border-radius: 8px;
      border: 0px;
      cursor: pointer;
      background: rgb(107, 217, 237);
      background: linear-gradient(
        125deg,
        rgba(107, 217, 237, 1) 0%,
        rgba(149, 84, 190, 1) 35%,
        rgba(127, 86, 217, 1) 100%
      );
      &:hover {
        background: base.$primary-600;
      }
    }
  }
}
